[submodule "config/nvim/pack/plug/start/emmet-vim"]
	path = config/nvim/pack/plug/start/emmet-vim
	url = https://github.com/emmetio/emmet
[submodule "config/nvim/pack/plug/start/goyo.vim"]
	path = config/nvim/pack/plug/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "config/nvim/pack/plug/start/vim-mundo"]
	path = config/nvim/pack/plug/start/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo
[submodule "config/nvim/pack/plug/start/vim-surround"]
	path = config/nvim/pack/plug/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "config/nvim/pack/plug/start/vimwiki"]
	path = config/nvim/pack/plug/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
